.calendar {
  width: 100%;
  height: 100%;
}

.calendar-card {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 10px;
  width: 400px;
  height: 240px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.card {
  position: absolute;
  background: rgba(22, 22, 22, 0.2);
  width: 100%;
  height: 100%;
  z-index: 999;
}

.card-show {
  display: block;
}

.card-hidden {
  display: none;
}

.card-textarea {
  width:  100%;
  height: 100%;
  border:  none;
  border-radius: 6px;
  font-size: 16px;
}
.card-textarea:focus {
  outline: none;
}

.clear-btn {
  position: fixed;
  padding: 5px 15px;
  fontSize: 16px;
  bottom: 20px;
  left: 20px;
  z-index: 11;
}

.push-btn {
  position: fixed;
  padding: 5px 15px;
  fontSize: 16px;
  bottom: 20px;
  right: 20px;
  z-index: 11;
}

/* sweetalert 定制 */
.swal-title {
  margin-bottom: 20px;
}

.swal-overlay {
  background-color: rgba(43, 165, 137, 0.25);
}
